{% extends 'layout.html' %}
{% from "./macros/data_table.html" import print_data_table %}
{% block body %}
<div class="row">
    <div class="col-md-5">
        <h1>Avion</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <form action="{{ url_for('add_avion') }}" method="POST">
                <div class="form-group">
                    <input type="text" name="matricula" placeholder="Matricula" class="form-control" required>
                </div>
                <!-- num_hangar -->
                <div class="form-group">
                    <select name="num_hangar" class="form-control" required>
                        <option selected disabled value="">Numero de hangar</option>
                        {% for row in table_num_hangar %}
                        <option value="{{row.0}}">{{row.0}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- piloto, a los select agregar los nombres de los pilotos -->
                <div class="form-group">
                    <select name="piloto" class="form-control" required>
                        <option selected disabled value="">Piloto(licencia)</option>
                        {% for row in table_piloto %}
                        <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- corporacion -->
                <div class="form-group">
                    <select name="corporacion" class="form-control" required>
                        <option selected disabled value="">Corporacion</option>
                        {% for row in table_corporacion %}
                        <option value="{{row.0}}">{{row.0}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- tipo de avion, agregar el modelo de avion al select -->
                <div class="form-group">
                    <select name="tipo_avion" class="form-control" required>
                        <option selected disabled value="">Tipo de avion</option>
                        {% for row in table_tipo_avion %}
                        <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="btn-group btn-block">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a href="/" class="btn btn-danger">Volver</a>
                </div>
            </form>
        </div>
        <div class="card card-body">
            <!-- se debe implementar los metodos para update empleado en python -->
            <form action="" method="POST">
                <div class="form-group">
                    <input type="number" name="id_update" min="1" placeholder="Id" required class="form-control">
                </div>
                <button type="submit" class="btn btn-info btn-block">Buscar registro</button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        {{ print_data_table(fields, table) }}
    </div>
</div>
{% endblock %}