{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Home</h1>
        <div class="card card-body">
            <a href="/hangar" class="btn btn-success btn-block">Hangares</a>
        </div>
        <div class="card card-body">
            <a href="/persona" class="btn btn-success btn-block">Personas</a>
        </div>
        <div class="card card-body">
            <a href="/empleados" class="btn btn-primary btn-block">Empleado</a>
        </div>
        <div class="card card-body">
            <a href="/piloto" class="btn btn-primary btn-block">Piloto</a>
        </div>
        <div class="card card-body">
            <a href="/corporacion" class="btn btn-success btn-block">Corporacion</a>
        </div>
        <div class="card card-body">
            <a href="/servicio" class="btn btn-primary btn-block">Servicio</a>
        </div>
        <div class="card card-body">
            <a href="/avion" class="btn btn-primary btn-block">Avion</a>
        </div>
        <div class="card card-body">
            <a href="/tipo-avion" class="btn btn-success btn-block">Tipo de avion</a>
        </div>
    </div>
</div>
{% endblock %}