{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Home</h1>
        <div class="card card-body">
            <a href="/index-table/eq/clase_hangar" class="btn btn-primary btn-block btn-lg">Hangares</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/per/persona" class="btn btn-primary btn-block btn-lg">Personas</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/per/empleados" class="btn btn-primary btn-block btn-lg">Empleado</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/eq/piloto" class="btn btn-primary btn-block btn-lg">Piloto</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/prop/corporacion" class="btn btn-primary btn-block btn-lg">Corporacion</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/per/servicio" class="btn btn-primary btn-block btn-lg">Servicio</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/eq/avion" class="btn btn-primary btn-block btn-lg">Avion</a>
        </div>
        <div class="card card-body">
            <a href="/index-table/eq/tipo_avion" class="btn btn-primary btn-block btn-lg">Tipo de avion</a>
        </div>
    </div>
</div>
{% endblock %}