{% macro render_avion_form(data_select, values) %}
<div class="form-group">
    {% if values.0 == '' %}
        <input type="text" name="matricula" placeholder="Matricula" class="form-control" required>
    {% else %}
        <input type="text" name="matricula" placeholder="Matricula" class="form-control" required value="{{ values.0 }}" readonly>
    {% endif %}

</div>
<div class="form-group">
    <select name="num_hangar" class="form-control" required>
        <option selected disabled value="">Numero de hangar</option>

        {% for row in data_select['num_hangar'] %}
            {% if row.0 == values.1 %}
                <option selected value="{{row.0}}">{{row.0}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <select name="piloto" class="form-control" required>
        <option selected disabled value="">Piloto(licencia)</option>

        {% for row in data_select['piloto'] %}
            {% if row.0 == values.2 %}
                <option selected value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <select name="corporacion" class="form-control" required>
        <option selected disabled value="">Corporacion</option>

        {% for row in data_select['corporacion'] %}
            {% if row.0 == values.3 %}
                <option selected value="{{row.0}}">{{row.0}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <select name="tipo_avion" class="form-control" required>
        <option selected disabled value="">Tipo de avion</option>
        
        {% for row in data_select['tipo_avion'] %}
            {% if row.0 == values.4 %}
                <option selected value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}