{% macro render_avion_form(data_select, values) %}
<div class="mb-3">
    <label for="matricula" class="form-label">Matricula</label>
    {% if values.0 == '' %}
        <input type="text" name="matricula" class="form-control" required>
    {% else %}
        <input type="text" name="matricula" class="form-control" required value="{{ values.0 }}" readonly>
    {% endif %}

</div>
<div class="mb-3">
    <label for="num_hangar" class="form-label">Numero de hangar</label>
    <select name="num_hangar" class="form-select" required>
        <option selected disabled value="">Seleccione una opcion</option>

        {% for row in data_select['num_hangar'] %}
            {% if row.0 == values.1 %}
                <option selected value="{{row.0}}">{{row.0}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="piloto" class="form-label">Piloto</label>
    <select name="piloto" class="form-select" required>
        <option selected disabled value="">Piloto(licencia)</option>

        {% for row in data_select['piloto'] %}
            {% if row.1 == values.2 %}
                <option selected value="{{row.1}}">{{row.0}} {{row.1}}</option>
            {% else %}
                <option value="{{row.1}}">{{row.0}} {{row.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="corporacion" class="form-label">Corporacion</label>
    <select name="corporacion" class="form-select" required>
        <option selected disabled value="">Corporacion</option>

        {% for row in data_select['corporacion'] %}
            {% if row.0 == values.3 %}
                <option selected value="{{row.0}}">{{row.0}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="tipo_avion" class="form-label">Tipo de avion</label>
    <select name="tipo_avion" class="form-select" required>
        <option selected disabled value="">Tipo de avion</option>
        
        {% for row in data_select['tipo_avion'] %}
            {% if row.0 == values.4 %}
                <option selected value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}