{% macro render_corporacion_form(values) %}
<div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    {% if values.0 == '' %}
        <input type="text" name="nombre" required class="form-control">
    {% else %}
        <input type="text" name="nombre" required class="form-control" value="{{ values.0 }}" readonly>
    {% endif %}
</div>
    <label for="direccion" class="form-label">Direccion</label>
    <div class="mb-3">
    <input type="text" name="direccion" required class="form-control" value="{{ values.1 }}">
</div>
    <label for="telefono" class="form-label">Telefono</label>
    <div class="mb-3">
    <input type="number" name="telefono" min="1" required class="form-control" value="{{ values.2 }}">
</div>
{% endmacro %}