{% macro render_empleado_form(data_select, values) %}
{% set turnos = ('madrugada', 'mañana', 'tarde', 'noche') %}
{% if values.0 != '' %}
<div class="mb-3">
    <label for="id" class="form-label">Id</label>
    <input type="number" name="id" class="form-control" value="{{values.0}}" readonly>
</div>
{% else %}
<div class="mb-3">
    <label for="id" class="form-label">Id</label>
    {% if data_select['generated_id'] == '' %}
    <select name="id" class="form-select" required>
        <option selected disabled value="">Id</option>
        {% for row in data_select['id'] %}
        <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
        {% endfor %}}
    </select>
    {% else %}
    <select name="id" class="form-select" required>
        <option selected disabled value="">Id</option>
        {% for row in data_select['id'] %}
            {% if row.0 == data_select['generated_id'] %}
            <option selected value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% else %}
            <option disabled value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% endif %}
</div>
{% endif %}
<div class="mb-3">
    <label for="salario" class="form-label">Salario</label>
    <input type="number" name="salario" min="1" class="form-control" required
        value="{{values.1}}">
</div>
<div class="mb-3">
    <label for="turno" class="form-label">Turno</label>
    <select name="turno" class="form-select" required>
        <option selected disabled value="">Turno</option>
        {% for row in turnos %}
            {% if row == values.2 %}
            <option selected value="{{row}}">{{row.capitalize()}}</option>
            {% else %}
            <option value="{{row}}">{{row.capitalize()}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="tipo_servicio" class="form-label">Tipo de servicio</label>
    <select name="tipo_servicio" class="form-select" required>
        <option selected disabled value="">Tipo de servicio</option>

        {% for row in data_select['servicio'] %}
            {% if row.0 == values.3 %}
            <option selected value="{{row.0}}">{{row.0.capitalize()}}</option>
            {% else %}
            <option value="{{row.0}}">{{row.0.capitalize()}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}