{% macro render_empleado_form(table_tipo_servicio) %}
<div class="form-group">
    <input type="number" name="id" placeholder="Id generada"  class="form-control" disabled="True">
</div>
<div class="form-group">
    <input type="number" name="salario" placeholder="Salario"  class="form-control" required>
</div>
<div class="form-group">
    <select name="turno" class="form-control" required>
        <option selected disabled value="">Turno</option>
        <option value="madrugada">Madrugada</option>
        <option value="mañana">Mañana</option>
        <option value="tarde">Tarde</option>
        <option value="noche">Noche</option>
    </select>
</div>
<div class="form-group">
    <select name="tipo_servicio" class="form-control" required>
        <option selected disabled value="">Tipo de servicio</option>
        {% for row in table_tipo_servicio %}
        <option value="{{row.0}}">{{row.0}}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}