{% macro render_hangar_form(values) %}
<div class="form-group">
    <div class="form-group">
        {% if values.0 == '' %}
            <input type="number" name="num_hangar" min="1" placeholder="Numero de hangar" required class="form-control">
        {% else %}
            <input type="number" name="num_hangar" min="1" placeholder="Numero de hangar" required class="form-control" value="{{values.0}}" readonly>
        {% endif %}
    </div>
</div>
<div class="form-group">
    <input type="number" name="capacidad" min="1" placeholder="Capadidad" required class="form-control" value="{{values.1}}">
</div>
{% endmacro %}