{% macro render_hangar_form(values) %}
<div class="mb-3">
        <label for="num_hangar" class="form-label">Numero de hangar</label>
        {% if values.0 == '' %}
            <input type="number" name="num_hangar" min="1" required class="form-control">
        {% else %}
            <input type="number" name="num_hangar" min="1" required class="form-control" value="{{values.0}}" readonly>
        {% endif %}
</div>
<div class="mb-3">
    <label for="capacidad" class="form-label">Capacidad</label>
    <input type="number" name="capacidad" min="1" required class="form-control" value="{{values.1}}">
</div>
{% endmacro %}