{% macro render_persona_form(values) %}
{% if values.0 != '' %}
    <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="number" name="id" required class="form-control" value="{{values.0}}" readonly>
    </div>
{% endif %}
<div class="mb-3">
    <label for="nss" class="form-label">Nss</label>
    <input type="text" name="nss" required class="form-control" value="{{values.1}}">
</div>
<div class="mb-3">
    <label for="nombre" class="form-label">Nombre completo</label>
    <input type="text" name="nombre" required class="form-control" value="{{values.2}}">
</div>
<div class="mb-3">
    <label for="telefono" class="form-label">Telefono</label>
    <input type="number" min="1" name="telefono" required class="form-control" value="{{values.3}}">
</div>
<!-- {% if values.0 == '' %}
        <div class="form-group btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <label class="btn btn-outline-light">
                <input type="radio" name="tipo_persona" id="option1" autocomplete="off" value="empleados"> Empleado
            </label>
            <label class="btn btn-outline-light">
                <input type="radio" name="tipo_persona" id="option2" autocomplete="off" value="piloto"> Piloto
            </label>
        </div>
{% endif %} -->
{% endmacro %}