{% macro render_servicio_form(data_select, values) %}
<div class="mb-3">
    <label for="tipo_servicio" class="form-label">Tipo de servicio</label>
    {% if values.0 == '' %}
        <input type="text" name="tipo_servicio" class="form-control" required>
    {% else %}
        <input type="text" name="tipo_servicio" class="form-control" required value="{{values.0}}" readonly>
    {% endif %}
</div>
<div class="mb-3">
    <label for="horas" class="form-label">Horas</label>
    <input type="number" name="horas" min="1" class="form-control" required value="{{values.1}}">
</div>
<div class="mb-3">
    <label for="tipo_avion" class="form-label">Tipo de avion</label>
    <select name="tipo_avion" class="form-select" required>
        <option selected aria-readonly value="">Tipo de avion</option>

        {% for row in data_select['tipo_avion'] %}
            {% if row.0 == values.2 %}
                <option selected value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% else %}
                <option value="{{row.0}}">{{row.0}} {{row.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}