{% macro render_tipo_avion_form(values) %}
{% if values.0 != '' %}
    <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="number" name="id" required class="form-control" value="{{values.0}}" readonly>
    </div>
{% endif %}
<div class="mb-3">
    <label for="modelo" class="form-label">Modelo</label>
    <input type="text" name="modelo" required class="form-control" value="{{values.1}}">
</div>
<div class="mb-3">
    <label for="capacidad" class="form-label">Capacidad</label>
    <input type="number" name="capacidad" min="1" required class="form-control" value="{{values.2}}">
</div>
<div class="mb-3">
    <label for="peso_avion" class="form-label">Peso del avion</label>
    <input type="number" name="peso_avion" min="1" required class="form-control" value="{{values.3}}">
</div>
{% endmacro %}