{% macro print_data_table(fields, table) %}
    <table class="table table-striped table-bordered table-sm table-hover">
        <thead class="bg-dark">
            <tr>
                {% for field in fields %}
                <td>{{field}}</td>
                {% endfor %}
                <td>Operaciones</td>
            </tr>
        </thead>
        <body>
            {% for row in table %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
                <td>
                    <a class="btn btn-info btn-sm">Editar</a>
                    <a class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </body>
    </table>
{% endmacro %}