<form action="{{ url_for('add_corporacion') }}" method="POST">
    <input type="text" name="nombre_corporacion" placeholder="Nombre" required>
    <input type="text" name="direccion" placeholder="Direccion" required>
    <input type="number" name="telefono" min="1" placeholder="Telefono" required>
    <button type="submit">Enviar</button>
    <a href="/">Volver</a>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Direccion</td>
                <td>Telefono</td>
            </tr>
        </thead>
        <body>
            {% for row in table %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </body>
    </table>
</div>