{% extends 'layout.html' %}
{% block body %}
<form action="{{ url_for('add_corporacion') }}" method="POST">
    <input type="text" name="nombre_corporacion" placeholder="Nombre" required>
    <input type="text" name="direccion" placeholder="Direccion" required>
    <input type="number" name="telefono" min="1" placeholder="Telefono" required>
    <button type="submit">Insertar</button>
    <a href="/">Volver</a>
</form>
<form action="{{ url_for('form_update_corporacion') }}" method="POST">
    <input type="text" name="nombre_update" placeholder="Nombre" required>
    <button type="submit">Buscar registro</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Direccion</td>
                <td>Telefono</td>
            </tr>
        </thead>
        {% block body_table %}
        {% endblock %}
    </table>
</div>
{% endblock %}