{% extends 'layout.html' %}
{% block body %}
<form action="{{ url_for('add_persona') }}" method="POST">
    <input type="text" name="nss" placeholder="NSS" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="number" min="1" name="telefono" placeholder="Telefono" required>
    <button type="submit">Insertar</button>
    <a href="/">Volver</a>
</form>
<form action="{{ url_for('form_update_persona') }}" method="POST">
    <input type="number" name="id_update" min="1" placeholder="Id" required>
    <button type="submit">Buscar registro</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>NSS</td>
                <td>Nombre</td>
                <td>Telefono</td>
            </tr>
        </thead>
        {% block body_table %}
        {% endblock %}
    </table>
</div>
{% endblock %}