{% extends 'layout.html' %}
{% block body %}
<form action="{{ url_for('add_tipo_avion') }}" method="POST">
    <input type="text" name="modelo" placeholder="Modelo" required>
    <input type="number" name="capadidad" min="1" placeholder="Capacidad" required>
    <input type="number" name="peso" min="1" placeholder="Peso de avion" required>
    <button type="submit">Insertar</button>
    <a href="/">Volver</a>
</form>
<form action="{{ url_for('form_update_tipo_avion') }}" method="POST">
    <input type="number" name="id_update" min="1" placeholder="Id" required>
    <button type="submit">Buscar registro</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Modelo</td>
                <td>Capacidad</td>
                <td>Peso avion</td>
                <td>Id</td>
            </tr>
        </thead>
        {% block body_table %}
        {% endblock %}
    </table>
</div>
{% endblock %}