<form action="{{ url_for('add_tipo_avion') }}" method="POST">
    <input type="text" name="modelo" placeholder="Modelo" required>
    <input type="number" name="capadidad" min="1" placeholder="Capacidad" required>
    <input type="number" name="peso" min="1" placeholder="Peso de avion" required>
    <button type="submit">Enviar</button>
    <a href="/">Volver</a>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Modelo</td>
                <td>Capacidad</td>
                <td>Peso avion</td>
            </tr>
        </thead>
        <body>
            {% for row in table %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </body>
    </table>
</div>