{% extends 'layout.html' %}
{% block body %}
<form action="/update-clase-hangar/{{table.0.0}}" method="POST">
    <input type="number" name="capacidad" min="1" placeholder="Capadidad" value={{table.0.1}} required>
    <button>Actualizar</button>
    <a href="/hangar/">Volver</a>
</form>
<form action="/delete_row/clase_hangar/num_hangar/{{table.0.0}}/hangares">
    <button type="submit">Eliminar registro</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Numero de hangar</td>
                <td>Capacidad</td>
            </tr>
        </thead>
        {% block body_table %}
        {% endblock %}
        </thead>
    </table>
</div>
{% endblock %}