{% extends 'layout.html' %}
{% block body %}
<form action="/update-corporacion/{{table.0.0}}" method="POST">
    <input type="text" name="direccion" placeholder="Direccion" value={{table.0.1}} required>
    <input type="number" name="telefono" min="1" placeholder="Telefono" value={{table.0.2}} required>
    <button type="submit">Actualizar</button>
    <a href="/corporacion">Volver</a>
</form>
<form action="/delete_row/corporacion/nombre/{{table.0.0}}/corporacion">
    <button type="submit">Eliminar registro</button>
</form>
<div>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Direccion</td>
                <td>Telefono</td>
            </tr>
        </thead>
        {% block body_table %}
        {% endblock %}
    </table>
</div>
{% endblock %}